html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: LabGrotesqueWeb-Black;
  src: url("./fonts/LabGrotesqueWeb-Black.eot");
  src: url("./fonts/LabGrotesqueWeb-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesqueWeb-Black.woff") format("woff"), url("./fonts/LabGrotesqueWeb-Black.ttf") format("truetype"), url("./fonts/LabGrotesqueWeb-Black.svg#LabGrotesqueWeb-Black") format("svg");
  font-weight: 300;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: LabGrotesqueWeb-Black;
    src: url("./fonts/LabGrotesqueWeb-Black.svg#LabGrotesqueWeb-Black") format("svg"); } }

@font-face {
  font-family: LabGrotesqueWeb-BoldItalic;
  src: url("./fonts/LabGrotesqueWeb-BoldItalic.eot");
  src: url("./fonts/LabGrotesqueWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesqueWeb-BoldItalic.woff") format("woff"), url("./fonts/LabGrotesqueWeb-BoldItalic.ttf") format("truetype"), url("./fonts/LabGrotesqueWeb-BoldItalic.svg#LabGrotesqueWeb-BoldItalic") format("svg");
  font-weight: 400;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: LabGrotesqueWeb-BoldItalic;
    src: url("./fonts/LabGrotesqueWeb-BoldItalic.svg#LabGrotesqueWeb-BoldItalic") format("svg"); } }

@font-face {
  font-family: LabGrotesqueWeb-Bold;
  src: url("./fonts/LabGrotesqueWeb-Bold.eot");
  src: url("./fonts/LabGrotesqueWeb-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesqueWeb-Bold.woff") format("woff"), url("./fonts/LabGrotesqueWeb-Bold.ttf") format("truetype"), url("./fonts/LabGrotesqueWeb-Bold.svg#LabGrotesqueWeb-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: LabGrotesqueWeb-Bold;
    src: url("./fonts/LabGrotesqueWeb-Bold.svg#LabGrotesqueWeb-Bold") format("svg"); } }

@font-face {
  font-family: LabGrotesqueWeb-Italic;
  src: url("./fonts/LabGrotesqueWeb-Italic.eot");
  src: url("./fonts/LabGrotesqueWeb-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesqueWeb-Italic.woff") format("woff"), url("./fonts/LabGrotesqueWeb-Italic.ttf") format("truetype"), url("./fonts/LabGrotesqueWeb-Italic.svg#LabGrotesqueWeb-Italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: LabGrotesqueWeb-Italic;
    src: url("./fonts/LabGrotesqueWeb-Italic.svg#LabGrotesqueWeb-Italic") format("svg"); } }

@font-face {
  font-family: LabGrotesqueWeb-BlackItalic;
  src: url("./fonts/LabGrotesqueWeb-BlackItalic.eot");
  src: url("./fonts/LabGrotesqueWeb-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/LabGrotesqueWeb-BlackItalic.woff") format("woff"), url("./fonts/LabGrotesqueWeb-BlackItalic.ttf") format("truetype"), url("./fonts/LabGrotesqueWeb-BlackItalic.svg#LabGrotesqueWeb-BlackItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: LabGrotesqueWeb-BlackItalic;
    src: url("./fonts/LabGrotesqueWeb-BlackItalic.svg#LabGrotesqueWeb-BlackItalic") format("svg"); } }

body {
  margin: 0px; }
  body .wrapper {
    min-height: 100%;
    position: relative; }
    body .wrapper header {
      background-color: #242424;
      width: 100%;
      height: 80px; }
      body .wrapper header .logo {
        height: 100%;
        display: inline-block; }
        body .wrapper header .logo img {
          width: 53px;
          height: 48px;
          padding: 13px 0px 0px 15px; }
      body .wrapper header .navigation-menu {
        height: 100%;
        vertical-align: top;
        display: inline-block; }
        body .wrapper header .navigation-menu ul {
          height: 100%; }
          body .wrapper header .navigation-menu ul li {
            font-family: 'LabGrotesqueWeb-Black', arial, sans-serif;
            font-style: normal;
            color: white;
            list-style-type: none;
            display: inline-block;
            padding: 0px 30px 0px 30px;
            font-size: 21px;
            text-transform: uppercase;
            height: 100%;
            line-height: 75px; }
            body .wrapper header .navigation-menu ul li.active {
              background-color: #131417; }
      body .wrapper header .login {
        float: right;
        height: 100%;
        padding-right: 75px; }
        body .wrapper header .login ul {
          padding: 20px 0px 0px 0px; }
          body .wrapper header .login ul li {
            text-align: center;
            font-family: 'LabGrotesqueWeb-Black', arial, sans-serif;
            font-style: normal; }
            body .wrapper header .login ul li.user-info {
              font-weight: bold;
              color: white;
              height: 20px; }
            body .wrapper header .login ul li span {
              color: #3ea3cf;
              font-family: 'LabGrotesqueWeb-Black', arial, sans-serif;
              font-style: normal;
              font-size: 15px; }
    body .wrapper .container {
      background-color: #f9f9f9;
      padding-bottom: 125px; }
      body .wrapper .container .center {
        width: 95%;
        margin: 0 auto; }
      body .wrapper .container .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #d0d0d0;
        float: right;
        margin-top: 2px; }
      body .wrapper .container .circle {
        padding: 0px 8px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        width: 2px;
        display: inline;
        margin-right: 10px; }
      body .wrapper .container .button {
        font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: white;
        border-radius: 3px;
        background-color: #3ea3cf;
        width: 173px;
        text-align: center;
        padding: 10px 0px 10px 0px;
        font-size: 17px;
        text-transform: uppercase;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75); }
      body .wrapper .container h2 {
        font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        padding: 20px 0px;
        color: #3e3e3e; }
      body .wrapper .container #kpi-status {
        padding: 75px 0px; }
        body .wrapper .container #kpi-status .status {
          width: 186px;
          display: inline-block; }
          body .wrapper .container #kpi-status .status.status:first-of-type {
            margin-right: 35px; }
          body .wrapper .container #kpi-status .status .info {
            padding: 20px 0px 32px 0px;
            text-align: center;
            background-color: white; }
          body .wrapper .container #kpi-status .status p {
            padding: 10px 5px;
            font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            color: #3e3e3e;
            font-size: 29px; }
          body .wrapper .container #kpi-status .status p:last-of-type {
            font-size: 21px; }
          body .wrapper .container #kpi-status .status h3 {
            background-color: #e9e9e9;
            padding: 10px 20px;
            font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            color: #3e3e3e;
            font-size: 14px; }
          body .wrapper .container #kpi-status .status span {
            color: #3ea3cf;
            font-size: 16px; }
            body .wrapper .container #kpi-status .status span span:first-of-type {
              margin-bottom: 30px; }
      body .wrapper .container #campaigns h2 {
        padding-bottom: 35px; }
      body .wrapper .container #campaigns .button {
        margin-bottom: 50px;
        padding: 10px 20px;
        display: inline-block; }
      body .wrapper .container #campaigns .select-table {
        display: inline-block;
        float: right; }
        body .wrapper .container #campaigns .select-table .select-button {
          display: inline-block;
          background-color: #3ea3cf;
          text-align: center;
          width: 85px;
          height: 35px;
          line-height: 35px;
          color: white;
          font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
          font-style: normal;
          font-weight: bold;
          -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75); }
        body .wrapper .container #campaigns .select-table .selected {
          -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          color: #d3dbe1;
          padding-bottom: 2px; }
        body .wrapper .container #campaigns .select-table .select-button:first-of-type {
          border-radius: 5px 0px 0px 5px; }
        body .wrapper .container #campaigns .select-table .select-button:last-of-type {
          margin-left: -4px;
          border-radius: 0px 5px 5px 0px; }
      body .wrapper .container #campaigns .green {
        background: #35a45b; }
      body .wrapper .container #campaigns .orange {
        background: #e6a05e; }
      body .wrapper .container #campaigns .lightblue {
        background: #00b0eb; }
      body .wrapper .container #campaigns table {
        width: 100%; }
        body .wrapper .container #campaigns table thead th {
          padding: 12px 20px;
          background-color: #e9e9e9;
          font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
          font-style: normal;
          font-weight: bold;
          color: #3e3e3e;
          font-size: 14px;
          text-align: left; }
        body .wrapper .container #campaigns table tbody tr td {
          padding: 15px 0px 0px 12px;
          border-right: 1px solid #e9e9e9;
          font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          background-color: white;
          color: #6e6e6e; }
        body .wrapper .container #campaigns table tbody tr:last-of-type {
          border-bottom: 1px solid #e9e9e9; }
          body .wrapper .container #campaigns table tbody tr:last-of-type td {
            padding: 15px 0px 15px 12px; }
      body .wrapper .container #creative-material .button {
        padding: 10px 20px; }
      body .wrapper .container #creative-material .selector {
        padding: 50px 0px 35px 0px; }
        body .wrapper .container #creative-material .selector span {
          font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          margin-right: 20px; }
        body .wrapper .container #creative-material .selector span:first-of-type {
          margin-right: 0px; }
        body .wrapper .container #creative-material .selector hr.vertical {
          width: 0px;
          height: 10px;
          display: inline;
          margin: 0px 11px 0px 11px;
          padding: 5px 0px 5px 0px; }
      body .wrapper .container #creative-material .material {
        width: 204px;
        border-right: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        display: inline-block;
        margin: 0px 20px 20px 0px;
        background-color: white; }
        body .wrapper .container #creative-material .material h4 {
          text-align: center;
          font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          color: #3e3e3e;
          margin-top: 20px;
          margin-bottom: 10px; }
        body .wrapper .container #creative-material .material p {
          color: #3ea3cf;
          font-size: 16px;
          text-align: center;
          margin-bottom: 20px; }
        body .wrapper .container #creative-material .material img {
          width: 100%;
          height: 124px; }
      body .wrapper .container #creative-material .material:last-of-type img {
        width: 148px;
        display: block;
        margin: 0 auto; }
    body .wrapper footer {
      background-color: #242424;
      width: 100%;
      height: 75px;
      position: absolute;
      bottom: 0;
      left: 0; }
      body .wrapper footer div {
        line-height: 75px; }
        body .wrapper footer div p {
          display: inline;
          font-family: 'LabGrotesqueWeb-Black', arial, sans-serif;
          font-style: normal; }
        body .wrapper footer div .copyright {
          color: white;
          padding: 0px 0px 0px 75px;
          float: left;
          width: 30%; }
        body .wrapper footer div .feedback {
          color: #3ea3cf;
          width: 30%; }
        body .wrapper footer div ul.social {
          float: right;
          padding: 13px 50px 0px 0px; }
          body .wrapper footer div ul.social li {
            list-style-type: none;
            display: inline-block;
            padding-right: 20px; }
            body .wrapper footer div ul.social li img {
              width: 40px;
              height: 40px; }
