body
{
  margin:0px;

.wrapper
{
  min-height: 100%;
    position: relative;

  header
  {
    background-color: #242424;
    width: 100%;
    height: 80px;

    .logo
    {
      height:100%;
      display:inline-block;
              img
              {
                width: 53px;
                height: 48px;
                padding:13px 0px 0px 15px;
              }
    }

    .navigation-menu
    {
      height: 100%;
      vertical-align: top;
      display: inline-block;
      ul
      {
        height:100%;
        li
        {
          @include LabGrotesqueWeb-Black;
          color: white;
          list-style-type: none;
          display: inline-block;
          padding: 0px 30px 0px 30px;
          font-size: 21px;
          text-transform: uppercase;
          height: 100%;
          line-height: 75px;

          &.active
          {
            background-color:#131417
          }
        }
      }
    }

    .login
    {
      float: right;
      height: 100%;
      padding-right: 75px;
      ul
      {
        padding:20px 0px 0px 0px;
        li
        {
          text-align:center;
          @include LabGrotesqueWeb-Black;

          &.user-info
          {
              font-weight:bold;
              color: white;
              height:20px;
              //font-size:19px;
          }
          span
          {
              color: #3ea3cf;
              @include LabGrotesqueWeb-Black;
              font-size:15px;
          }
        }
      }
    }


  }

  .container
  {
      background-color: #f9f9f9;
      padding-bottom: 125px;

      .center
      {
        width:95%;
        margin:0 auto;
      }


      .arrow-down {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #d0d0d0;
      float:right;
      margin-top: 2px;
    }


      .circle
      {
        padding: 0px 8px;
        -moz-border-radius: 50px;
      	-webkit-border-radius: 50px;
      	border-radius: 50px;
        width: 2px;
        display: inline;
        margin-right: 10px;
      }

      .button
      {
        @include LabGrotesqueWeb-Bold;
        color: white;
        border-radius: 3px;
        background-color: #3ea3cf;
        width: 173px;
        text-align: center;
        padding: 10px 0px 10px 0px;
        font-size: 17px;
        text-transform:uppercase;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
      }

      h2
      {
        @include LabGrotesqueWeb-Bold;
        padding: 20px 0px;
        color: #3e3e3e;
      }

        #kpi-status
        {
            padding: 75px 0px;
              .status
              {
                &.status:first-of-type
                {
                  margin-right:35px;
                }

                width:186px;
                display: inline-block;

                .info
                {
                  padding:20px 0px 32px 0px;
                  text-align:center;
                  background-color: white;
                }

                p
                {
                  padding: 10px 5px;
                  @include LabGrotesqueWeb-Bold;
                  color: #3e3e3e;
                  font-size:29px;
                }

                p:last-of-type
                {
                  font-size:21px;
                }

                  h3
                  {
                    background-color: #e9e9e9;
                    padding: 10px 20px;
                    @include LabGrotesqueWeb-Bold;
                    color: #3e3e3e;
                    font-size:14px;
                  }
                  span
                  {
                    & span:first-of-type
                    {
                      margin-bottom:30px;
                    }
                    color: #3ea3cf;
                    font-size:16px;
                  }
              }
      }

      #campaigns
      {
        h2
        {
        padding-bottom:35px;
        }

        .button
        {
          margin-bottom:50px;
          padding: 10px 20px;
          display: inline-block;
        }

        .select-table
        {
          display: inline-block;
          float:right;

          .select-button
          {
            display: inline-block;
            background-color: #3ea3cf;
            text-align: center;
            width: 85px;
            height: 35px;
            line-height: 35px;
            color: white;
            @include LabGrotesqueWeb-Bold;
            -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
          }

          .selected
          {
            -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.3);
             -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
             box-shadow:         inset 0 0 10px rgba(0,0,0,0.3);
             color: #d3dbe1;
             padding-bottom: 2px;
          }

          .select-button:first-of-type
          {
            border-radius: 5px 0px 0px 5px;
          }
          .select-button:last-of-type
          {
              margin-left: -4px;
              border-radius: 0px 5px 5px 0px;
          }
        }

        .green
        {
           background: #35a45b;
        }

        .orange
        {
           background: #e6a05e;
        }

        .lightblue
        {
          background: #00b0eb;
        }

        table
        {
          width:100%;
          thead
          {
            th
            {
                padding: 12px 20px;
                background-color: #e9e9e9;
                @include LabGrotesqueWeb-Bold;
                color: #3e3e3e;
                font-size:14px;
                text-align:left;
            }
          }
          tbody
          {
            tr
            {

              td
              {
                padding: 15px 0px 0px 12px;
                border-right: 1px solid #e9e9e9;
                @include LabGrotesqueWeb-Bold;
                font-size:14px;
                background-color: white;
                color: #6e6e6e;
              }
            }
            tr:last-of-type
            {
              border-bottom: 1px solid #e9e9e9;
              td
              {
                padding: 15px 0px 15px 12px;
              }
            }

          }
        }
      }

      #creative-material
      {
        .button
        {
          padding:10px 20px;
        }

        .selector
        {
          padding: 50px 0px 35px 0px;

          span
          {
            @include LabGrotesqueWeb-Bold;
            font-size: 14px;
            margin-right: 20px;
          }

          span:first-of-type
          {
            margin-right: 0px;
          }

          hr.vertical
          {
            width: 0px;
            height: 10px;
            display: inline;
            margin: 0px 11px 0px 11px;
            padding: 5px 0px 5px 0px;
          }
        }

        .material
        {
          width: 204px;
          //height: 184px;
          border-right: 1px solid #e9e9e9;
          border-bottom: 1px solid #e9e9e9;
          display: inline-block;
          margin: 0px 20px 20px 0px;
          background-color: white;

          h4
          {
            text-align: center;
            @include LabGrotesqueWeb-Bold;
            font-size: 14px;
            color: #3e3e3e;
            margin-top: 20px;
            margin-bottom: 10px;
          }

          p
          {
            color: #3ea3cf;
            font-size:16px;
            text-align: center;
            margin-bottom: 20px;
          }



          img
          {
            width:100%;
            height:124px;
          }


        }
        .material:last-of-type img
        {
          width: 148px;
          display: block;
          margin: 0 auto;
        }
      }
}

  footer
  {
    background-color: #242424;
    width:100%;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;

    div
    {
      line-height:75px;
      p
      {

        display:inline;
        @include LabGrotesqueWeb-Black;
      }

      .copyright
      {
        color: white;
          padding: 0px 0px 0px 75px;
          float: left;
          width:30%;
      }

      .feedback
      {
        color: #3ea3cf;
        width:30%
      }



      ul.social
      {
        float: right;
        padding:13px 50px 0px 0px;

        li
        {
            list-style-type: none;
            display: inline-block;
            padding-right:20px;
          img
          {
            width:40px;
            height:40px;

          }
        }
      }
    }


  }
}


}
