@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face(LabGrotesqueWeb-Black, './fonts/LabGrotesqueWeb-Black', 300, normal);
@include font-face(LabGrotesqueWeb-BoldItalic, './fonts/LabGrotesqueWeb-BoldItalic', 400, italic);
@include font-face(LabGrotesqueWeb-Bold, './fonts/LabGrotesqueWeb-Bold', 700, normal);
@include font-face(LabGrotesqueWeb-Italic, './fonts/LabGrotesqueWeb-Italic', 700, italic);
@include font-face(LabGrotesqueWeb-BlackItalic, './fonts/LabGrotesqueWeb-BlackItalic', 300, italic);

@mixin LabGrotesqueWeb-Black {
  font-family: 'LabGrotesqueWeb-Black', arial, sans-serif;
  font-style: normal; }

@mixin LabGrotesqueWeb-BoldItalic {
  font-family: 'LabGrotesqueWeb-BlackItalic', arial, sans-serif;
  font-weight: 300; font-style: italic; }


  @mixin LabGrotesqueWeb-Bold {
    font-family: 'LabGrotesqueWeb-Bold', arial, sans-serif;
    font-style: normal; font-weight:bold;}

  @mixin LabGrotesqueWeb-Italic {
    font-family: 'LabGrotesqueWeb-Italic', arial, sans-serif;
    font-weight: 300; font-style: italic; }


    @mixin LabGrotesqueWeb-BlackItalic {
      font-family: 'LabGrotesqueWeb-BlackItalic', arial, sans-serif;
      font-style: normal; }
